MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=12345678
MYSQL_DB=eye_diagnosis_system_db
MYSQL_CHARSET=utf8mb4
DATABASE_ECHO=false

HOST=0.0.0.0
PORT=8800

JWT_SECRET_KEY=replace-this-with-a-secure-secret
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=1440

AI_MODEL_URL=http://127.0.0.1:5000

MAIL_HOST=smtp.qq.com
MAIL_PORT=465
MAIL_USER=
MAIL_PASSWORD=
